<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">
    <img src="/assets/images/stamp.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Mandaten.nl Gebruikers Demo
  </span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Energie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Banken</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Telecom</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">Welkom bij Mandaten.nl</h4>
    <p><em>De</em> plek om al je mandaten beheren! Selecteer hierboven in de menu-balk de branch waar je jouw mandaten van wil
      inzien.
    </p>
  </div>

  <div class="card mb-2">
    <div class="card-block">
      <h3 class="card-title">De energie-sector</h3>

      <ul class="nav nav-pills mb-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Energie Leverancier</a>
          <div class="dropdown-menu">
            <a class="dropdown-item active" href="#">Eneco</a>
            <a class="dropdown-item" href="#">Nuon</a>
            <a class="dropdown-item" href="#">Essent</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Greenchoice</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Netbeheerder</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Stedin</a>
            <a class="dropdown-item" href="#">Enexis</a>
            <a class="dropdown-item" href="#">Alliander</a>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Mandaten gegeven aan energie-leverancier Eneco</h4>
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-0">Leveranciersovereenkomst</h5>
          <button class="btn btn-sm btn-danger">Trek mandaat in</button>
        </div>
        <small>Actief sinds 02-01-2015</small>
        <p class="mt-2 mb-0">Korte uitleg met bla bla.</p>
        <button class="btn btn-sm btn-primary">Download de PDF</button>
      </div>
      <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-0">P4 Inzicht overeenkomst</h5>
          <button class="btn btn-sm btn-danger">Trek mandaat in</button>
        </div>
        <small>Actief sinds 02-01-2015</small>
        <p class="mt-2 mb-0">Korte uitleg met bla bla.</p>
        <button class="btn btn-sm btn-primary">Download de PDF</button>
      </div>
      <div class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-0">P1 inzicht overeenkomst</h5>
          <button class="btn btn-sm btn-danger">Trek mandaat in</button>
        </div>
        <small>Actief sinds 02-01-2015</small>
        <p class="mt-2 mb-0">Korte uitleg met bla bla.</p>
        <button class="btn btn-sm btn-primary">Download de PDF</button>
      </div>
    </div>
  </div>



</div>
<!-- /.container -->